

@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Inter:wght@500&family=Montserrat:wght@100&display=swap');
body{
    font-family: 'Alkatra', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-image: url('../img/icons8-estante-de-livros-80.png');
}
.container{
    height: 300px;
}
.card-livros{
    margin: auto;
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.card{
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
}
.color-money{
    color: green;
}
.card-footer{
    background-color:#a6dced;
}
.color-cifrao{
    color: #ffff;
}
.navbar{
    background-color: #a6dced; 
}